In [1]:
from pyspark.sql import functions as F
import pyspark.sql.types as T

from src.config import ColumnConfig, DataConfig, SparkConfig, SchemaConfig

from warnings import filterwarnings
filterwarnings(action='ignore', category=DeprecationWarning, message='`np.bool` is a deprecated alias')

23/04/21 05:42:21 WARN Utils: Your hostname, ctolon resolves to a loopback address: 127.0.1.1; using 192.168.2.105 instead (on interface wlp0s20f3)
23/04/21 05:42:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/21 05:42:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/21 05:42:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
# Build SparkSession
spark = SparkConfig.SPARK_SESSION
# Set Log Level
sc = spark.sparkContext
sc.setLogLevel("ERROR")

In [3]:
trainDF_schemeless = spark.read.format("csv") \
      .option("header", "true") \
      .option("inferSchema", "True") \
      .load(DataConfig.SCHEMELESS_DATA_TRAIN) 

testDF_schemeless = spark.read.format("csv") \
      .option("header", "true") \
      .option("inferSchema", "True") \
      .load(DataConfig.SCHEMELESS_DATA_TEST)

In [4]:
trainDF_schematic = spark.read.format("csv") \
    .option("header", "true") \
    .schema(SchemaConfig.DATA_RAW_SCHEMA) \
    .load(DataConfig.SCHEMATIC_DATA_TRAIN) 

testDF_schematic = spark.read.format("csv") \
    .option("header", "true") \
    .schema(SchemaConfig.DATA_RAW_SCHEMA) \
    .load(DataConfig.SCHEMATIC_DATA_TEST)

In [5]:
trainDF_preprocessed = spark.read.format("csv") \
    .option("header", "true") \
    .schema(data_transformed_schema) \
    .load(DataConfig.PREPROCESSED_DATA_TRAIN) 

testDF_preprocessed = spark.read.format("csv") \
    .option("header", "true") \
    .schema(data_transformed_schema) \
    .load(DataConfig.PREPROCESSED_DATA_TEST)

In [14]:
trainDF_schemeless.limit(5).toPandas()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0
3,0003_02,Europa,0,A/0/S,TRAPPIST-1e,33.0,0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0
4,0004_01,Earth,0,F/1/S,TRAPPIST-1e,16.0,0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1

In [ ]:
testDF_schemeless.limit(5).toPandas().head()

In [5]:
trainDF_schematic.limit(5).toPandas()

/home/ctolon/miniconda3/envs/pyspark-dev/lib/python3.8/site-packages/pyspark/sql/pandas/conversion.py:298: FutureWarning: In the future `np.bool` will be defined as the corresponding NumPy scalar.
  return np.bool  # type: ignore[attr-defined]

AttributeError: module 'numpy' has no attribute 'bool'.
`np.bool` was a deprecated alias for the builtin `bool`. To avoid this error in existing code, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
adult_whole_df = adult_train_df.union(adult_test_df)
adult_whole_df.limit(5).toPandas().head()

In [ ]:


print("train satır sayısı: ", adult_train_df.count())
print("test satır sayısı:  ", adult_test_df.count())
print("whole satır sayısı: ", adult_whole_df.count())

In [ ]:


adult_whole_df.describe(['age','fnlwgt','education_num','capital_gain','capital_loss','hours_per_week']) \
.toPandas().head()

In [ ]:


adult_whole_df.groupBy(F.col("workclass")) \
.agg({"*":"count"}) \
.toPandas().head(10)

In [ ]:
adult_whole_df.createOrReplaceTempView("workclass_tbl")

In [ ]:


spark.sql(" SELECT workclass, COUNT(*) FROM workclass_tbl GROUP BY workclass LIMIT 10") \
.toPandas().head(10)

In [ ]:


adult_whole_df.groupBy(F.col("education")) \
.agg({"*":"count"}) \
.toPandas().head(20)